<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <!-- <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  <h4>Boot-tables directive</h4>
  <p>
    Directive that boilerplates html side of bootstrap table along with javascript side for sorting, pagination, easy date service hookup.
  </p>

  <h4>ImgurInfinte - PhoneGap App</h4>
  <p>
    Simple PhoneGap app that pulls from Imgur's client API for an endless scroll of images.
  </p>

  <h4>More Coming...</h4>
  <p></p>
</div>
