<div class="jumbotron">
  <h1>Zach Zoeller</h1>

  <h3>@zacharyzoeller</h3>
  <h3>zach.zoeller@gmail.com</h3>
  <!-- <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  <h4>Boot-tables directive</h4>
  <p>
    Directive that boilerplates the html side of a <a href="http://getbootstrap.com/">Bootstrap</a> table along with the javascript side for sorting (custom sort directive), pagination (using <a href="http://angular-ui.github.io/bootstrap/#/pagination">AngularUI's</a> Pagination directive), and an easy and consistent way to pump data in.
  </p>

  <h4>ImgurInfinte - PhoneGap App</h4>
  <p>
    Simple <a href="http://phonegap.com/">PhoneGap</a> app that pulls from <a href="http://imgur.com/">Imgur's</a> client API for an endless scroll of images.
  </p>

  <h4>More Coming...</h4>
  <p></p>
</div>
